@model TeamAssignment4A.Models.Stem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stem</h4>
    <hr />
    <div class="row">
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.Question)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.Question)
        </div>
        <br />
        <br />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionA)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.OptionA)
        </div>
        <br />
        <br />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionB)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.OptionB)
        </div>
        <br />
        <br />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionC)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.OptionC)
        </div>
        <br />
        <br />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.OptionD)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.OptionD)
        </div>
        <br /><br />
        <div class="col-sm-2">
            @Html.DisplayNameFor(model => model.CorrectAnswer)
        </div>
        <br />
        <div class="col-sm-10">
            @Html.Raw(Model.CorrectAnswer)
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-info">Back to List</a>
</div>
