@model IEnumerable<TeamAssignment4A.Dtos.StemDto>

@{
    ViewData["Title"] = "Index";
}

<h2 class="custom-font fadein center-adjust">Stem List</h2>

<p class="center-adjust create-btn-pst">
    <a asp-action="Create" class="custom-font btn btn-info">Create New</a>
</p>
<table class="table">
    <thead class=" sticky-header text-nowrap  text-center navbar-dark bg-primary"
           onclick="scrollToTop()" style="cursor:pointer;"
           data-toggle="tooltip" data-placement="top" title="click to scroll to top">
        <tr style="border-style:hidden;">
            <th class="left-side-rounding">
                @Html.DisplayNameFor(model => model.Question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionC)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OptionD)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CorrectAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TopicDescription)
            </th>
            <th class="right-side-rounding">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">

                <td>
                    @Html.DisplayFor(modelItem => item.Question)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionA)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OptionD)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CorrectAnswer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TopicDescription)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit w-100 mb-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details w-100 mb-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete w-100 mb-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
