@model TeamAssignment4A.Models.Topic

@{
    ViewData["Title"] = "Delete";
}

<h3 class="custom-font fadein center-adjust">Deleting Topic</h3>
<hr />
<div class="center-adjust">
    <dl class="row">
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.NumberOfPossibleMarks)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.NumberOfPossibleMarks)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.Certificate.Id)
        </dt>
        <dt class="col-sm-6">
            @Html.DisplayFor(model => model.Certificate.Id)
        </dt>
    </dl>
    
</div>
<div class="center-adjust">
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" style="width:100px;" class="btn btn-danger col-sm-6" /> |
        <a asp-action="Index" style="width:110px;" class="btn btn-primary col-sm-6">Back to List</a>
    </form>
</div>