@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Create a new account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            

            <div class="form-group">
                <label asp-for="Input.FirstName" class="control-label"></label>
                <input asp-for="Input.FirstName" class="form-control" placeholder="Enter your First name" />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MiddleName" class="control-label"></label>
                <input asp-for="Input.MiddleName" class="form-control" placeholder="Enter your Middle name" />
                <span asp-validation-for="Input.MiddleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" class="form-control" placeholder="Enter your Last name" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Gender" class="control-label"></label>
                <div>
                    <select asp-for="Input.Gender" class="form-control  text-secondary">
                        <option value="" disabled selected>--Select Gender--</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="Input.Gender" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.NativeLanguage" class="control-label"></label>
                <input asp-for="Input.NativeLanguage" class="form-control" placeholder="Enter Native language" />
                <span asp-validation-for="Input.NativeLanguage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CountryOfResidence" class="control-label"></label>
                <input asp-for="Input.CountryOfResidence" class="form-control" placeholder="Enter Country of residence" />
                <span asp-validation-for="Input.CountryOfResidence" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Birthdate" class="control-label"></label>
                <div>
                    <input asp-for="Input.Birthdate" class="form-control" type="date" placeholder="Enter your birthdate" />
                    <span asp-validation-for="Input.Birthdate" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="control-label"></label>
                <input asp-for="Input.Email" class="form-control" placeholder="mail@adress.com" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LandlineNumber" class="control-label"></label>
                <input asp-for="Input.LandlineNumber" class="form-control" placeholder="Enter Land Line Number" />
                <span asp-validation-for="Input.LandlineNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.MobileNumber" class="control-label"></label>
                <input asp-for="Input.MobileNumber" class="form-control" placeholder="Enter Mobile Number" />
                <span asp-validation-for="Input.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address1" class="control-label"></label>
                <input asp-for="Input.Address1" class="form-control" placeholder="Enter First/Main Address" />
                <span asp-validation-for="Input.Address1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Address2" class="control-label"></label>
                <input asp-for="Input.Address2" class="form-control" placeholder="Enter Secondary Address" />
                <span asp-validation-for="Input.Address2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PostalCode" class="control-label"></label>
                <input asp-for="Input.PostalCode" class="form-control" placeholder="Enter Postal Code" />
                <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Town" class="control-label"></label>
                <input asp-for="Input.Town" class="form-control" placeholder="Enter Town" />
                <span asp-validation-for="Input.Town" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Province" class="control-label"></label>
                <input asp-for="Input.Province" class="form-control" placeholder="Enter Province" />
                <span asp-validation-for="Input.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhotoIdType" class="control-label"></label>
                <div>
                    <select asp-for="Input.PhotoIdType" class="form-control  text-secondary">
                        <option value="" disabled selected>--Select Id Type--</option>
                        <option value="NationalIDCard">National ID Card</option>
                        <option value="Passport">Passport</option>
                        <option value="Other">Other</option>
                    </select>
                    <span asp-validation-for="Input.PhotoIdType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhotoIdNumber" class="control-label"></label>
                <input asp-for="Input.PhotoIdNumber" class="form-control" placeholder="Enter Photo Id Number" />
                <span asp-validation-for="Input.PhotoIdNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhotoIdDate" class="control-label"></label>
                <div>
                    <input asp-for="Input.PhotoIdDate" class="form-control" type="date" placeholder="Enter PhotoId date" />
                    <span asp-validation-for="Input.PhotoIdDate" class="text-danger"></span>
                </div>
            </div>

            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
