@model IEnumerable<TeamAssignment4A.Models.JointTables.CandidateExam>

@{
    ViewData["Title"] = "BookedExams";
}

<h1 class="custom-font fadein center-adjust">Booked Exams</h1>



<table class="table center-adjust">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentTestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExaminationDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentTestCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExaminationDate)
            </td>
            
            <td>
                <a asp-action="ChangeDate" asp-route-id="@item.Id">Change Date</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Refund</a>
            </td>
        </tr>
            
}
    </tbody>
</table>
<div class="Center-Div">
    <a asp-action="ListOfCertificates" style="width:160px;"
        class="custom-font btn btn-info col-sm-7">Back to Certificates</a>

    <a asp-action="Index" style="width:140px;"
        class="text-nowrap custom-font btn btn-primary col-sm-5">Back to e-Shop</a>
</div>
