@model IEnumerable<TeamAssignment4A.Models.JointTables.CandidateExam>

@{
    ViewData["Title"] = "MarkedCertifications";
}

<h2 class="custom-font fadein center-adjust">Certificate List</h2>


<table class="table">
    <thead class=" sticky-header text-nowrap  text-center navbar-dark bg-primary"
           onclick="scrollToTop()" style="cursor:pointer;"
           data-toggle="tooltip" data-placement="top" title="click to scroll to top">
        <tr style="border-style:hidden;">
            <th style="border-top-left-radius: 100px; border-bottom-left-radius: 100px;">
                @Html.DisplayNameFor(model => model.AssessmentTestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Exam.Certificate.TitleOfCertificate)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.AssessmentResultLabel)
            </th>
            
            <th style="border-top-right-radius: 100px; border-bottom-right-radius: 100px;">Options</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentTestCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Exam.Certificate.TitleOfCertificate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentResultLabel)
            </td>
            
            <td>
                    <a asp-action="ExamDetails" asp-route-id="@item.Id" class="btn btn-success w-50 mb-6">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="Center-Div">
    <a asp-action="Index" style="width:110px;" class="text-nowrap custom-font btn btn-blue col-sm-5">Back</a>
</div>
