@model IEnumerable<TeamAssignment4A.Models.Candidate>

@{
    ViewData["Title"] = "Index";
}
<h2 class="custom-font fadein center-adjust">Candidate List</h2>

<p class="center-adjust create-btn-pst">
    <a asp-action="Create" class=" custom-font btn btn-info">Create New</a>
</p>
<table class="table">
    <thead class=" accordion-header text-nowrap  text-center navbar-dark bg-primary"
           onclick="scrollToTop()" style="cursor:pointer;"
           data-toggle="tooltip" data-placement="top" title="click to scroll to top">
        <tr style="border-style:hidden;">
            <th class="left-side-rounding">

                @Html.DisplayNameFor(model => model.FirstName)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.NativeLanguage)
            </th>
           
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="right-side-rounding">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">

                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.NativeLanguage)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-edit w-100 mb-2">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-details w-100 mb-2">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-delete w-100 mb-2">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
