@using TeamAssignment4A.Models.JointTables;
@model List<TeamAssignment4A.Models.JointTables.CandidateExamStem>

@{
    ViewData["Title"] = "SitForExam";
}

<h3 class="custom-font fadein center-adjust">Examination</h3>
<div class="sticky-header go-to-top hide-on-load text-nowrap my-round-button text-center navbar-dark bg-info"
    onclick="scrollToTop()">
    Go to top
</div>
<hr />

<div class="row custom-font fadein center-adjust">
    <form asp-action="SubmitExam" class="col-sm-2 text-center" >
        
        @*@{
            List<CandidateExamStem> ces = new List<CandidateExamStem>(); 
            foreach(var item in Model.CandidateExamStems)
            {
                ces.Add(item);
            }
            int i = 0;
            
        }*@
        @*<div>
            <input type="hidden" asp-for="Id" />
        </div>*@
        @*@foreach (var item in Model)
        {*@
            @for (int i = 0; i < Model.Count(); i++){    
            <div>
                @*<input type="hidden" asp-for="@Model[i].Id" />*@
                
                <div class="text-nowrap text-center navbar-dark bg-primary" style="border-top-right-radius: 100px; 
                                            border-bottom-right-radius: 100px; border-top-left-radius: 100px; 
                                            border-bottom-left-radius: 100px">
                    @Html.DisplayNameFor(modelItem => @Model[i].ExamStem.Stem.Question)
                    <br>
                    @Html.Raw(@Model[i].ExamStem.Stem.Question)
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.Question" />
                    
                </div> <br />
                <div class="text-nowrap text-center" style="border-top-right-radius: 100px; 
                                            border-bottom-right-radius: 100px; border-top-left-radius: 100px; 
                                            border-bottom-left-radius: 100px">
                    @Html.DisplayNameFor(modelItem => @Model[i].ExamStem.Stem.OptionA)
                    <br>
                    @Html.Raw(@Model[i].ExamStem.Stem.OptionA)
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.OptionA" />
                    
                </div> <br />
                <div class="text-nowrap text-center" style="border-top-right-radius: 100px; 
                                            border-bottom-right-radius: 100px; border-top-left-radius: 100px; 
                                            border-bottom-left-radius: 100px">
                    @Html.DisplayNameFor(modelItem => @Model[i].ExamStem.Stem.OptionB)
                    <br>
                    @Html.Raw(@Model[i].ExamStem.Stem.OptionB)
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.OptionB" />
                    
                </div> <br />
                <div class="text-nowrap text-center" style="border-top-right-radius: 100px; 
                                            border-bottom-right-radius: 100px; border-top-left-radius: 100px; 
                                            border-bottom-left-radius: 100px">
                    @Html.DisplayNameFor(modelItem => @Model[i].ExamStem.Stem.OptionC)
                    <br>
                    @Html.Raw(@Model[i].ExamStem.Stem.OptionC)
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.OptionC" />
                    
                </div> <br />
                <div class="text-nowrap text-center" style="border-top-right-radius: 100px; 
                                            border-bottom-right-radius: 100px; border-top-left-radius: 100px; 
                                            border-bottom-left-radius: 100px">
                    @Html.DisplayNameFor(modelItem => @Model[i].ExamStem.Stem.OptionD)
                    <br>
                    @Html.Raw(@Model[i].ExamStem.Stem.OptionD)
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.OptionD" />
                    
                </div> <br />
                <div class="form-group" style="text-decoration: underline;" >
                    <label asp-for="@Model[i].SubmittedAnswer" class="control-label"></label> <br />
                    <select asp-for="@Model[i].SubmittedAnswer" class="form-control" asp-items="@ViewBag.Selections" ></select>
                    <span asp-validation-for="@Model[i].SubmittedAnswer" class="text-danger"></span>
                    
                </div>
                <div>
                    <input type="hidden" asp-for="@Model[i].ExamStem.Stem.Id" />
                </div>
                <div>
                    <input type="hidden" asp-for="@Model[i].ExamStem.Exam.Id" />
                </div>
                <div>
                    <input type="hidden" asp-for="@Model[i].ExamStem.Id" />
                </div>

            </div>
            
        }
        
        @*<div>
            <input type="hidden" asp-for="Exam.Id" />
        </div>
        <div>
            <input type="hidden" asp-for="Candidate.Id" />
        </div>*@
        <input type="submit" value="Submit" class="btn btn-warning" />
    </form>
</div>

@section Scripts {
    @{
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


