@model TeamAssignment4A.Dtos.ExamDto

@{
    ViewData["Title"] = "Delete";
}

<h3 class="custom-font fadein center-adjust">Deleting Examination</h3>
<hr />
<div class="custom-font fadein">
    <dl class="row">
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.AssessmentTestCode)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.AssessmentTestCode)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.ExaminationDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ExaminationDate)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.ScoreReportDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ScoreReportDate)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.CandidateScore)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.CandidateScore)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.PercentageScore)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.PercentageScore)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.AssessmentResultLabel)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.AssessmentResultLabel)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.TitleOfCertificate)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.TitleOfCertificate)
        </dd>
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.CandidateId)
        </dt>
        <dd class="col-sm-6">
            @Html.DisplayFor(model => model.CandidateId)
        </dd>
    </dl>
    <div class="center-adjust">
        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Delete" style="width:100px;" class="btn btn-danger col-sm-6" /> |
            <a asp-action="Index" style="width:110px;" class="btn btn-primary col-sm-6">Back to List</a>
        </form>
    </div>
</div>
