@model IEnumerable<TeamAssignment4A.Models.Exam>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentTestCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExaminationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScoreReportDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CandidateScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PercentageScore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssessmentResultLabel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentTestCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExaminationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScoreReportDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CandidateScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PercentageScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssessmentResultLabel)
            </td>
            <td>

                  
                    
                    
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-success">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
